name: hardwired
services:
  pebble:
    image: ghcr.io/letsencrypt/pebble:latest
    command: -config /test/config/pebble-config.json -dnsserver challtestsrv:8053
    environment:
      - PEBBLE_VA_NOSLEEP=1
      - PEBBLE_VA_ALWAYS_VALID=0
    ports:
      - "14000:14000"   # ACME server
      - "15000:15000"   # Management interface
    depends_on:
      - challtestsrv

  challtestsrv:
    image: ghcr.io/letsencrypt/pebble-challtestsrv:latest
    command: -dns01 ":8053" -http01 "" -https01 "" -tlsalpn01 ""
    ports:
      - "8055:8055"     # Management API

  powerdns:
    image: powerdns/pdns-auth-49:latest
    environment:
      - PDNS_AUTH_API_KEY=test-api-key
      - PDNS_AUTH_WEBSERVER=yes
      - PDNS_AUTH_WEBSERVER_ADDRESS=0.0.0.0
      - PDNS_AUTH_WEBSERVER_PORT=8081
      - PDNS_AUTH_WEBSERVER_ALLOW_FROM=0.0.0.0/0
      - PDNS_AUTH_API=yes
      - PDNS_AUTH_LAUNCH=gsqlite3
      - PDNS_AUTH_GSQLITE3_DATABASE=/var/lib/powerdns/pdns.sqlite3
    ports:
      - "8081:8081"     # PowerDNS API
      - "5354:53/udp"   # DNS (non-privileged port on host)
      - "5354:53/tcp"
